    <!-- <header>
        <div class="navbar">
            <a href="#">Home</a>
            <div class="dropdown">
            <a href="#" class="dropbtn">Products</a>
                <div class="dropdown-content vertical">
                    <a href="Harde Schijf.html">Harde Schijf</a>
                    <a href="Moederbord.html">Moederbord</a>
                    <a href="RAM.html">RAM</a>
                    <a href="CPU.html">CPU</a>
                    <a href="GPU.html">Grafische kaart</a>
                    <a href="scherm.html">Scherm</a>
                    <a href="Case.html">Case</a>
                    <a href="Computer.html">Build-up computer</a>
                    <a href="Muis.html">Muis</a>
                    <a href="Toetsenbord.html">Toetsenbord</a>
                    <a href="Muismat.html">Muismat</a>
                    <a href="USB.html">USB</a>
                </div>
            </div>
        </div>
    </header> -->
 

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>index</title>
            <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    </head>

    <body>

        <header>
            <h1>Computer Shopping</h1>
        </header>

        <div class="container">
            <div class="product">
                <h2>Product 1</h2>
                <p></p>
                <button>Add to Cart</button>
            </div>
            <div class="product">
                <h2>Product 2</h2></p>
                <button>Add to Cart</button>
            </div>
            <div class="product">
                <h2>Product 3</h2>
                <p>.</p>
                <button>Add to Cart</button>
            </div>
        </div>

        <footer>
            <p>Computer Shopping </p>
            <p>Contact: info@computershopping.com</p>
        </footer>

    </body>

</html>
