<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="static/css/styles.css">
<title>Sample Table</title>
</head>
<body>

<h2>Table</h2>

<table>
  <thead>
    <tr>
      <th>iduser</th>
      <th>name</th>
      <th>first name</th>
      <th>phone number</th>
    </tr>
  </thead>
  <tbody>
    {% for user in data %}
    <tr>
        <td>{{ user[0]}}</td>
        <td>{{ user[1] }}</td>
        <td>{{ user[2] }}</td>
        <td>{{ user[3] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</body>
</html>
