<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <title>Add</title>
</head>
<body>
    <h1 style="color: tomato;">Welk type object wilt u toevoegen?</h1>
    <ul>
        <li><a href="Harde Schijf.html">Harde Schijf</a></li>
        <li><a href="Moederbord.html">Moederbord</a></li>
        <li><a href="RAM.html">RAM</a></li>
        <li><a href="CPU.html">CPU</a></li>
        <li><a href="GPU.html">Grafische kaart</a></li>
        <li><a href="scherm.html">Scherm</a></li>
        <li><a href="Case.html">Case</a></li>
        <li><a href="Computer.html">Build-up computer</a></li>
        <li><a href="Muis.html">Muis</a></li>
        <li> <a href="Toetsenbord.html">Toetsenbord</a></li>
        <li><a href="Muismat.html">Muismat</a></li>
        <li><a href="USB.html">USB</a></li>
    </ul>   
</body>
</html>